/* logo-color-blue: #2196F3
logo-color-black: #000000
header background: #FFFFFF;
    navi black: #212121
    navi hoover: #2196F3
    phone: #757575;
    email #2196F3
main background: #F5F5F5;
footer background: #2F303A;
    address #FFFFFF 60 % */
:root {
    --primary-text-color: #212121;
    --title-text-color: #000000;
    --accent-color: #2196F3;
    --secondary-text-color: #757575;
    --indent: 30px;
    --items: 3; 
    
    --header-idx: 10;
    --modal-idx: 100;
    --modal-menu-idx: 1000;

    --anim-prop: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Reset start */
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
}

.flex-container {
    display: flex;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent)
}

.card-set-item {
    flex-basis: calc((100% - (var(--items)-1) * var(--indent))/var(--items));
}

/* Reset end */

body {
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    background-color: #FFFFFF;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 47px;
    padding-bottom: 47px;
}

.section:last-child {
    padding-bottom: 94px;
}

.advantages-section {
    padding-top: 94px;
}

.team-section {
    padding-bottom: 94px;
    background-color: #F5F4FA;
    --items: 4
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}

.h3-like {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* --LOGO-- */
.logoweb {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logoheader {
    color: var(--title-text-color);
}

.logofooter {
    color: #ffffff;
}

/* ------------------------HEADER */
.page-header {
    position: fixed;
    z-index: var(--header-idx);
    width: 100%;
    min-height: 80px;
    top: 0;
    left: 0;
    opacity: 0.99;

    border-bottom: 1px solid #ECECEC;
    background-color: #FFFFFF;
}

.header {
    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    margin-left: 93px;
}

.nav-list .nav-item + .nav-item {
    margin-left: 50px;
}

.nav-item {
    position: relative;
}

.nav-item.is-active::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.nav-item-href {
    display: block;
    color: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-item-href:hover, 
.nav-item-href:focus {
    color: var(--accent-color);
}

.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 50px;

    color: var(--secondary-text-color);
}

.header-contacts .item:hover,
.geader-contacts .item:focus {
    color: var(--accent-color);
}

.header-contacts .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);
}
.header-icons {
    margin-right: 10px;
    fill: currentColor;
}


/* ------------------------HERO------------------ */
.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    text-align: center;
}

.header-overlay {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/bgimg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}
.hero-btn {
    padding: 10px 32px;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
}

/* ------------------------------MAIN */
/* ----------------INDEX--------------- */
/* --Advantages-section-- */
.advantages-list {
    --items: 4;
}

.advantages-list-overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
}

.advantages-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.about-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)
}

/* --Whatwedo-- */

.secondary-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
}

.whatwedo-item {
    position: relative;
    overflow: hidden;
}

.whatwedo-overlay {
    position: absolute;
    min-height: 70px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);


    padding-top: 27px;
    padding-bottom: 27px;
    
    background-color: rgba(47, 48, 58, 0.8);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.whatwedo-item:hover .whatwedo-overlay,
.whatwedo-item:focus .whatwedo-overlay{
    transform: translateY(0);
    opacity: 1;
}

.whatwedo-text {
    text-align: center;
    color: #ffffff;
}


.team-card {
    background-color: #ffffff;
    width: 270px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
    padding-bottom: 30px;
    padding-top: 30px;
}

.team-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16); 
    /* text-align: center; */
    letter-spacing: 0.03em;
}

.team-possition {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-link {
    display: flex;
    justify-content: center;    
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #AFB1B8;
}

.socials-link:hover,
.socials-link:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}

.socials-icon {
    fill: currentColor;
}

/* --Clients-section-- */
.clients-list {
    --items: 6
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    transform: scale(1.1);
}

.client-icon {
    fill: currentColor;  
}

/* ---------------------PORTFOLIO---------------- */
.filter .filter-item + .filter-item {
    margin-left: 8px;
}

.filter {
    justify-content: center;
}

.filter-section {
    padding-top: 94px;
    margin-bottom: 50px;
}

.filter-item-button {
    min-width: 73px;
    padding: 6px 22px;
    border: 1px solid transparent;
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

}

.filter-item-button:hover,
.filter-item-button:focus {
    background: var(--accent-color);
    color: #ffffff;
}

/* --Projects-- */

.projects-section {
    padding-bottom: 94px;
}

.project-item:hover,
.project-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-img-link {
    /* display: inline-block; */
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);

    width: 100%;
    height: 100%;
    padding: 20px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;
    opacity: 0;

    user-select: none;

    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-description {
    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.project-item:hover .project-overlay,
.project-item:focus .project-overlay {
    opacity: 1;
    transform: translateY(0);
}

.project-wrapper {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 24px;

    border: 1px solid #EEEEEE;
    border-top: none;
    background: #ffffff;
}

.project-item-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.project-item-filter {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)
}

/* ----------------------------FOOTER---------------------- */
.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    color: rgba(255, 255, 255, 1);
}

.footer {
    display: flex;
    gap: 95px;
    align-items: baseline;
    justify-content: space-between;
}

.footer-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer-contacts-grey {
    color: rgba(255, 255, 255, 0.6)
}

.footer-contacts:hover, 
.footer-contacts:focus {
    color: var(--accent-color);
}

.footer-contacts-grey:hover, 
.footer-contacts-grey:focus {
    color: var(--accent-color);
}

.social-link-footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.mb20px {
    margin-bottom: 20px;
}
/* FOOTER FORM */

.form-sign-field {
    display: flex;
    gap: 12px;
    position: relative;
}

.form-sign-label {
    position: absolute;
    top: 50%;
    left: 16px;

    transform: translateY(-50%);
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.form-sign-input {
    width: 358px;
    height: 50px;
    padding: 15px ;

    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px; 

    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: outline var(--anim-prop) transform var(--anim-prop);
}

.form-sign-input:focus {
    outline: 1px solid #2196F3;
}

.form-sign-input:focus + .form-sign-label {
    transform: translate(-70px, -50%);

}
/* ----------MODAL WINDOW---------------- */
.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: var(--modal-idx);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -70%);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    cursor: pointer;
}

.modal-close-btn:hover {
    fill: var(--accent-color);
}

.modal-form-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
}
/* --------FORM STYLES--------------*/
.modal-form-group {
    margin-bottom: 20px;    
}

.modal-form-label {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em; 
    color: var(--secondary-text-color);
}

.modal-form-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.modal-form-field {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border-radius: 5px;
    border: 1px solid var(--primary-text-color);
    outline: 1px solid transparent;
    outline-offset: -1px;

    transition: outline var(--anim-prop);
}

.modal-form-field:focus {
    outline-color: var(--accent-color);
}
  
.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    
    transform: translateY(-50%);
    
    display: inline-block;
    transition: fill var(--anim-prop);
}
  
.modal-form-field:focus ~ .modal-form-icon {
    fill: var(--accent-color);
}

.modal-form-comment {
    display: block;
    width: 100%;
    height: 120px;
    padding: 16px 12px;
    font-size: 12px;

    resize: none;

    border: 1px solid var(--primary-text-color);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;

    transition: outline var(--anim-prop);
}

.modal-form-comment:focus {
    outline-color: var(--accent-color);
}

.modal-form-agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;

    margin-bottom: 30px;
}

.modal-form-checkbox {
    appearance: none;
    width: 16px;
    height: 15px;

    outline-offset: -2px;
    outline: 2px solid transparent;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.modal-form-checkbox:checked {
    outline-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.modal-form-agreement-desc {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.modal-form-agreement-link {
    color: var(--accent-color);
}

.modal-form-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

/* KEYFRAMES */

@keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.94);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }

  @keyframes rotate-hor-center {
    0% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(-360deg);
    }
  }

  /* ANIMATIONS */
  .rotate-hor-center {
	animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.heartbeat {
	animation: heartbeat 1.5s ease-in-out infinite both;
}
